.password-element {
  width: 50%;
  margin: auto;
  background-color: gray;
  font-size: large;
  color: green;
}

.success {
  color: white;
  background-color: green;
}

.failure {
  color: white;
  background-color: red;
}